name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
     - uses: actions/checkout@v3
     - uses: actions/setup-node@v3
       with:
        node-version: "16.x"
     - name: Install Dependencies
       run: npm install

     - name: Build Application
       run: npm run build
